{% extends 'layout/base.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="/assets/home.css">
{% endblock %}

{% block content %}

			<main>
					<section class="banner">
						<div class="highlight">
							<div class="columns">
								<div class="column highlight-item has-text-centered " style="background-image : url({{
									highlight.url
								}});">
										<h1>{{ highlight.title }}</h1> 
								</div>
							</div>
						</div>
						<div class="thumbnail">
							<div class="columns is-marginless">
								{% for item in thumbnail %}
								<div class="column thumbnail-item is-paddingless"
								style="background-image: url({{ item.url }});">
									{{ item.title }}
								</div>
								{% endfor %}
						</div>
					</section>

					<section class="section we-present">
						<div class="container"> <!-- set container-->
							<div class="columns">
								<div class="column has-text-left">
									<a href="#"> Lastest</a>
								</div>
								<div class="column has-text-centered">
									WE PRESENT
								</div>
								<div class="column has-text-right">
									<a href="#"> Search</a>
								</div>
							</div>

							<div class="columns is-multiline">
								<a href="#" class="column is-one-third"> <!-- is-one-third = 1 of 3-->
									<div class="card">
										<div class="card-image">
											<figure class="image is-3by2"> <!-- 3by2 = ratio of image-->
												<img src="/assets/images/home/we-preset/img-1.jpg" alt="image-1">
											</figure>											
										</div>
										<div class="card-content">
											<h5 class="category"> Public Space </h5>
											<h3 class="title is-spaced is-4"> <!-- is-spaced is-4 = set test size =4-->
												สวัสดีเมืองไทย
											</h3> 
											<h4 class="subtitle is-6">
												เรื่องโดยแทนเอง
											</h4>
											<p>
												eieieieieieieieieieieieieieieieieieieieieieieie.
											</p>
										</div>
									</div>
								</a>

								<a href="#" class="column is-one-third"> <!-- is-one-third = 1 of 3-->
									<div class="card">
										<div class="card-image">
											<figure class="image is-3by2"> <!-- 3by2 = ratio of image-->
												<img src="/assets/images/home/we-preset/img-2.jpg" alt="image-2">
											</figure>											
										</div>
										<div class="card-content">
											<h5 class="category"> Public Space </h5>
											<h3 class="title is-spaced is-4"> <!-- is-spaced is-4 = set test size =4-->
												รักคุณเท่าฟ้า
											</h3> 
											<h4 class="subtitle is-6">
												เรื่องโดยแทนเอง
											</h4>
											<p>
												วันนี้จะตรั่ยแหล่วว
											</p>
										</div>
									</div>
								</a>

								<a href="#" class="column is-one-third"> <!-- is-one-third = 1 of 3-->
									<div class="card">
										<div class="card-image">
											<figure class="image is-3by2"> <!-- 3by2 = ratio of image-->
												<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
											</figure>											
										</div>
										<div class="card-content">
											<h5 class="category"> Public Space </h5>
											<h3 class="title is-spaced is-4"> <!-- is-spaced is-4 = set test size =4-->
												โอ๊ย โอ๊ยย
											</h3> 
											<h4 class="subtitle is-6">
												เรื่องโดยแทนเอง
											</h4>
											<p>
												โซธราย
											</p>
										</div>
									</div>
								</a>

								<a href="#" class="column is-one-third"> <!-- is-one-third = 1 of 3-->
									<div class="card">
										<div class="card-image">
											<figure class="image is-3by2"> <!-- 3by2 = ratio of image-->
												<img src="/assets/images/home/we-preset/img-4.jpg" alt="image-4">
											</figure>											
										</div>
										<div class="card-content">
											<h5 class="category"> Public Space </h5>
											<h3 class="title is-spaced is-4"> <!-- is-spaced is-4 = set test size =4-->
												รักเธอ แต่เธอไม่รัก
											</h3> 
											<h4 class="subtitle is-6">
												เรื่องโดยแทนเอง
											</h4>
											<p>
												โอ๋ยยยยย
											</p>
										</div>
									</div>
								</a>

								<a href="#" class="column is-one-third"> <!-- is-one-third = 1 of 3-->
									<div class="card">
										<div class="card-image">
											<figure class="image is-3by2"> <!-- 3by2 = ratio of image-->
												<img src="/assets/images/home/we-preset/img-5.jpg" alt="image-5">
											</figure>											
										</div>
										<div class="card-content">
											<h5 class="category"> Public Space </h5>
											<h3 class="title is-spaced is-4"> <!-- is-spaced is-4 = set test size =4-->
												บอลไทยจะไปมวยโลก
											</h3> 
											<h4 class="subtitle is-6">
												เรื่องโดยแทนเอง
											</h4>
											<p>
												ฮรือออออ
											</p>
										</div>
									</div>
								</a>

								<a href="#" class="column is-one-third"> <!-- is-one-third = 1 of 3-->
									<div class="card">
										<div class="card-image">
											<figure class="image is-3by2"> <!-- 3by2 = ratio of image-->
												<img src="/assets/images/home/we-preset/img-6.jpg" alt="image-6">
											</figure>											
										</div>
										<div class="card-content">
											<h5 class="category"> Public Space </h5>
											<h3 class="title is-spaced is-4"> <!-- is-spaced is-4 = set test size =4-->
												อิคึ อิคึ
											</h3> 
											<h4 class="subtitle is-6">
												เรื่องโดยแทนเอง
											</h4>
											<p>
												แงแงแงแงแงแงแง
											</p>
										</div>
									</div>
								</a>
							</div>	
						</div>
					</section>
				</main>
{% endblock %}
