<!DOCTYPE html>
<html lang="en"> <!--main language-->
	<head>
		<meta charset="utf-8"> <!--config charactor to display-->
			<title>CMM 19</title> <!--name of tab in browser-->
				<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css"> <!--link css to project-->
				<link rel="stylesheet" type="text/css" href="/assets/home.css">
	</head>
		<body>
			<header>
				<div class="has-text-centered"> <!--logo-->
					<img src="/assets/images/logo.png" width="145" height="auto">
				</div>
				<nav class="navbar-tabs"> <!--navigation-->
					<a href="#" class="navbar-item"> WORK <a/>
					<a href="#" class="navbar-item"> INTERVIEW <a/>
					<a href="#" class="navbar-item"> WORK <a/>
					<a href="#" class="navbar-item"> WORK <a/>
					<a href="#" class="navbar-item"> WORK <a/>
					<a href="#" class="navbar-item"> WORK <a/>
					<a href="#" class="navbar-item"> WORK <a/>

				</nav>
			</header>
				<main>
					<section class="banner">
						<div class="highlight">
							<div class="columns">
								<div class="column highlight-item has-text-centered ">
										<h1> tantantan </h1> 
								</div>
							</div>
						</div>
						<div class="thumbnail">
							<div class="columns is-marginless">
								<div class="column thumbnail-item is-paddingless"
								style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg);">
									coca cola.
								</div>
								<div class="column thumbnail-item is-paddingless"
								style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg);">
									coca cola.
								</div>
								<div class="column thumbnail-item is-paddingless"
								style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg);">
									coca cola.
								</div>
								<div class="column thumbnail-item is-paddingless"
								style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg);">
									coca cola.
								</div>
						</div>
					</section>

					<section class="section we-present">
						<div class="container"> <!-- set container-->
							<div class="columns">
								<div class="column has-text-left">
									<a href="#"> Lastest</a>
								</div>
								<div class="column has-text-centered">
									WE PRESENT
								</div>
								<div class="column has-text-right">
									<a href="#"> Search</a>
								</div>
							</div>

							<div class="columns is-multiline">
								<a href="#" class="column is-one-third"> <!-- is-one-third = 1 of 3-->
									<div class="card">
										<div class="card-image">
											<figure class="image is-3by2"> <!-- 3by2 = ratio of image-->
												<img src="/assets/images/home/we-preset/img-1.jpg" alt="image-1">
											</figure>											
										</div>
										<div class="card-content">
											<h5 class="category"> Public Space </h5>
											<h3 class="title is-spaced is-4"> <!-- is-spaced is-4 = set test size =4-->
												สวัสดีเมืองไทย
											</h3> 
											<h4 class="subtitle is-6">
												เรื่องโดยแทนเอง
											</h4>
											<p>
												eieieieieieieieieieieieieieieieieieieieieieieie.
											</p>
										</div>
									</div>
								</a>

								<a href="#" class="column is-one-third"> <!-- is-one-third = 1 of 3-->
									<div class="card">
										<div class="card-image">
											<figure class="image is-3by2"> <!-- 3by2 = ratio of image-->
												<img src="/assets/images/home/we-preset/img-2.jpg" alt="image-2">
											</figure>											
										</div>
										<div class="card-content">
											<h5 class="category"> Public Space </h5>
											<h3 class="title is-spaced is-4"> <!-- is-spaced is-4 = set test size =4-->
												รักคุณเท่าฟ้า
											</h3> 
											<h4 class="subtitle is-6">
												เรื่องโดยแทนเอง
											</h4>
											<p>
												วันนี้จะตรั่ยแหล่วว
											</p>
										</div>
									</div>
								</a>

								<a href="#" class="column is-one-third"> <!-- is-one-third = 1 of 3-->
									<div class="card">
										<div class="card-image">
											<figure class="image is-3by2"> <!-- 3by2 = ratio of image-->
												<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
											</figure>											
										</div>
										<div class="card-content">
											<h5 class="category"> Public Space </h5>
											<h3 class="title is-spaced is-4"> <!-- is-spaced is-4 = set test size =4-->
												โอ๊ย โอ๊ยย
											</h3> 
											<h4 class="subtitle is-6">
												เรื่องโดยแทนเอง
											</h4>
											<p>
												โซธราย
											</p>
										</div>
									</div>
								</a>

								<a href="#" class="column is-one-third"> <!-- is-one-third = 1 of 3-->
									<div class="card">
										<div class="card-image">
											<figure class="image is-3by2"> <!-- 3by2 = ratio of image-->
												<img src="/assets/images/home/we-preset/img-4.jpg" alt="image-4">
											</figure>											
										</div>
										<div class="card-content">
											<h5 class="category"> Public Space </h5>
											<h3 class="title is-spaced is-4"> <!-- is-spaced is-4 = set test size =4-->
												รักเธอ แต่เธอไม่รัก
											</h3> 
											<h4 class="subtitle is-6">
												เรื่องโดยแทนเอง
											</h4>
											<p>
												โอ๋ยยยยย
											</p>
										</div>
									</div>
								</a>

								<a href="#" class="column is-one-third"> <!-- is-one-third = 1 of 3-->
									<div class="card">
										<div class="card-image">
											<figure class="image is-3by2"> <!-- 3by2 = ratio of image-->
												<img src="/assets/images/home/we-preset/img-5.jpg" alt="image-5">
											</figure>											
										</div>
										<div class="card-content">
											<h5 class="category"> Public Space </h5>
											<h3 class="title is-spaced is-4"> <!-- is-spaced is-4 = set test size =4-->
												บอลไทยจะไปมวยโลก
											</h3> 
											<h4 class="subtitle is-6">
												เรื่องโดยแทนเอง
											</h4>
											<p>
												ฮรือออออ
											</p>
										</div>
									</div>
								</a>

								<a href="#" class="column is-one-third"> <!-- is-one-third = 1 of 3-->
									<div class="card">
										<div class="card-image">
											<figure class="image is-3by2"> <!-- 3by2 = ratio of image-->
												<img src="/assets/images/home/we-preset/img-6.jpg" alt="image-6">
											</figure>											
										</div>
										<div class="card-content">
											<h5 class="category"> Public Space </h5>
											<h3 class="title is-spaced is-4"> <!-- is-spaced is-4 = set test size =4-->
												อิคึ อิคึ
											</h3> 
											<h4 class="subtitle is-6">
												เรื่องโดยแทนเอง
											</h4>
											<p>
												แงแงแงแงแงแงแง
											</p>
										</div>
									</div>
								</a>
							</div>	
						</div>
					</section>
				</main>
		</body>
</html>
