<header>
				<div class="has-text-centered">
					<img src="/assets/images/logo.png" width="145" height="auto">
				</div>
				<nav class="navbar-tabs"> <!--navigation-->
					<a href="#" class="navbar-item"> WORK <a/>
					<a href="#" class="navbar-item"> INTERVIEW <a/>
					<a href="#" class="navbar-item"> WORK <a/>
					<a href="#" class="navbar-item"> WORK <a/>
					<a href="#" class="navbar-item"> WORK <a/>
					<a href="#" class="navbar-item"> WORK <a/>
					<a href="#" class="navbar-item"> WORK <a/>

				</nav>
			</header>